<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<div *ngFor="let item of classUml" class="class-uml">
  {{ item.name }}
  <hr />
  <div *ngFor="let prop of item.props">
    <span>{{ prop.type }} </span>
    <b>{{ prop.name }} </b>
    <span>{{ prop.ts }} </span>
  </div>
  <hr />
  <div *ngFor="let prop of item.methods">
    <b>
      <span>{{ prop.type }} </span>
      <span>{{ prop.name }} </span>
      <span> ( {{ prop.ts }} ) </span>
      <span>:{{ prop.returnTs }} </span>
      <span (click)="prop.show = !prop.show">&#123; + &#125;</span>
    </b>
    <div *ngIf="prop.show">
      <div>&#123;</div>
      <code>{{ prop.text }}</code>
      <div>&#125;</div>
    </div>
  </div>
</div>
